<div class="answered-questions">
  <div class="question mb-4"><%= @question.content %></div>
  <% question.answers.each do |answer| %>
    <div class="answer-div <%= "right-answer" if answer.right_answer %> <%= "wrong-answer" if answer == clicked_answer %>"><%= answer.content %></div>
  <% end %>
</div>
<div class="continuer-button">
<%= link_to 'Continuer', continue_btn_path || '', class: 'btn btn-filled' %>
</div>
