<div class="">
  <legend class="col-form-label pt-0"><%= question.content %></legend>
  <% question.answers.each do |answer| %>
    <div class="answer-div <%= "right-answer" if answer.right_answer %> <%= "wrong-answer" if answer == clicked_answer %>"><%= answer.content %></div>
  <% end %>
  <%= link_to 'Continuer', continue_btn_path || '', class: 'btn btn-filled' %>
</div>
