<h1><%= piece.name %></h1>
<%= cl_image_tag piece.photo.key, height: 300, width: 400, crop: :fill %>
<h2><%= piece.artist %></h2>
<p><%= piece.materials_techniques %></p>
<p><%= piece.creation_year %></p>
<p><%= piece.description %></p>
<p><%= piece.media %></p>
<%= link_to "Continuer ma visite", user_journey_path(user_journey), class: 'btn btn-filled' %>
