
<%= cl_image_tag piece.photo.key, height: 300, width: 500, crop: :fill, class: "piece-img-show-with-media" %>
<div class=''>
  <div class = 'pieces-details'>
    <h1><%= piece.name %></h1>
    <h2><%= piece.artist %></h2>
    <p><%= piece.creation_year %></p>
    <p><%= piece.materials_techniques %></p>
  </div>

<div class='results-question'>
    <h2><i class="fa-regular fa-lightbulb"></i> <strong>Réponses aux questions</h2></strong>
    <div class="container">
      <% piece.questions.each_with_index do |question, index| %>
        <h3><%= index + 1 %>. <%= question.content %></h3>
        <p class="d-flex align-items-start"><%= image_tag 'answer-arrow.svg' %><span><%= question.right_answer_content %></span></p>
      <% end %>
    </div>
  </div>

  <div class='fun-fact'>
    <h2><i class="fa-regular fa-lightbulb"></i> <strong>Le saviez-vous ?</strong></h2>
    <div class="container">
      <% piece.fun_facts.each_with_index do |fun_fact, index| %>
        <p class="d-flex align-items-baseline gap-3"><span class="">#<%= index + 1 %></span><%= fun_fact %></p>
      <% end %>
    </div>
  </div>
</div>

  <p class='media'><%= piece.media.html_safe %></p>

  <div class='d-flex justify-content-center my-2'>
    <%= link_to "Continuer ma visite", user_journey_path(user_journey), class: 'btn btn-filled' %>
  </div>
