
  <h1 class='container w-100'><%= piece.name %></h1>
  <%= cl_image_tag piece.photo.key, height: 300, width: 400, crop: :fill %>
  <h2 class='container w-100'><%= piece.artist %></h2>
  <p class='container w-100'><%= piece.materials_techniques %></p>
  <p class='container w-100'><%= piece.creation_year %></p>
  <p class='container w-100'><%= piece.description %></p>
  <%# <p>piece.media</p> %>
  <div class='d-flex justify-content-center my-2'>
    <%= link_to "Continuer ma visite", user_journey_path(user_journey), class: 'btn btn-filled' %>
  </div>


