<% if @user_journey_piece.locked? %>
  <div id="scrollable">
    <div class='picture-qr-code'>
      <p class='container w-100'>Trouvez <strong><%= @user_journey_piece.piece.name %></strong> dans le musée et scannez le QR Code</p>
      <%= link_to unlock_user_journey_piece_path(@user_journey_piece), data: { turbo_method: :post } do %>
        <img class='container w-100' src="<%= cl_image_path @user_journey_piece.piece.photo.key%>" alt="<%=@user_journey_piece.piece.name %>">
      <% end %>
    </div>
    <div data-controller="scanner" id="reader" width="80vw" class='scanner'></div>
    <div class='d-flex justify-content-center my-2'>
      <%= link_to 'retour', user_journey_path(@user_journey_piece.user_journey), class: 'btn btn-empty' %>
    </div>
  </div>

<% elsif @user_journey_piece.revealed? %>
  <%= render 'user_journey_pieces/show_with_media', piece: @user_journey_piece.piece, user_journey: @user_journey_piece.user_journey %>
<% end %>
