
<div class="icone navbar-background">
  <div class="d-flex justify-content-center" id="nav-btn">
      <%= link_to root_path, class:'text-center' do %><i class="fa-solid fa-house"></i><% end %>
      <% if current_user.nil? %>
        <div class="text-center">
        <%= link_to new_user_session_path(), class:'text-center' do %><i class="fa-solid fa-user"></i><% end %>
        </div>
      <% elsif @user_journey.nil? || @user_journey.id.nil? && %>
        <%= link_to dashboard_path(current_user), class:'text-center' do %><i class="fa-solid fa-user"></i><% end %>
      <% else %>
        <%= link_to quit_path(@user_journey), data:{turbo_method: :patch}, class:'text-center' do %><i class="fa-solid fa-right-from-bracket"></i><% end %>
        <%= link_to dashboard_path(current_user), class:'text-center' do %><i class="fa-solid fa-user"></i><% end %>
        <%= link_to user_journey_path(@user_journey), class:'text-center' do %><i class="fa-solid fa-location-dot"></i><% end %>
      <% end %>
</div>
