<h1><%= @piece.name %></h1>
<h2><%= @piece.artist %></h2>
<p><%= @piece.description %></p>
<p><%= @piece.materials_techniques %></p>
<p><%= @piece.creation_year %></p>
<p><%= @piece.media %></p>
<%= link_to "Aller à l'oeuvre suivante", journey_user_journeys_path(@journey) %>
