<h1> <%= @journey.name %></h1>
<p><%= @journey.description %></p>

<div class="card-journey">
  <% @journey.pieces.each do |piece| %>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-journey-infos">
      <div>
        <h2> <%= piece.name %></h2>
        <p> <%= piece.artist %></p>
      </div>
  <% end %>
    </div>
</div>

<%= link_to 'commencer la visite',  journey_user_journeys_path(@journey), data: {turbo_method: :post}%>
