<h1> <%= @journey.name %></h1>
<p><%= @journey.description %></p>

<div class="card-journey">
  <% @journey.pieces.each do |piece| %>
    <div class="card-piece-infos" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg')">
      <div>
        <h2> <%= piece.name %></h2>
        <p> <%= piece.artist %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'commencer la visite',  journey_user_journeys_path(@journey), data: {turbo_method: :post}%>
